*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #dfe6e9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
